* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7dacd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

a {
    color: #5c2107;
    text-decoration:underline;   
}

p {
    font-size: 15px;
}

header {
    color: #F6EEE0;
    background-color: #A45C40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

h2 {
    width: 20%;
} 

footer {
    justify-content: center;
}

.name {
    position: relative;
    background-color: #89280b;
    padding: 0;
    margin-left: 0px;
}

.links {
    font-size: 15px;
    float: left;
    padding-top: 25px;
}

.links ul {
    list-style-type: none;
}

.links ul li {
    display: inline;
}

.zero {
    height: 130px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(../images/pexels-jan-kroon-1155019.jpg);
    background-size: cover;
    background-position: center;
}
/* relative abd ablosute*/

.zero-header {
    font-size: 25px;
    color: #89280b;
    justify-content: flex-start;
}

.content {
    margin-left: 20px;
    color: #5f1a05;
    border: 10px;

}

.about-me { 
    display: flex;
    margin-bottom: 40px;
}

.about-me-header {
    width: 30%;
    border-right: blue;
}

.aboutme {
    width: 80%;

}

.work {
    margin-bottom: 30px;
    justify-content: space-evenly;
    display: flex;
}

.work-figures {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto;
}

h3, h4 {
    text-align: center;
}
.card1 {
    /* justify-content: center; */
}

.card2 {
    /* justify-content: flex-end; */
}

.card4 {
    
}
.card5  {

}

.work-1 {
    border: 5px solid;
    width: 600px;
    color: rgb(156, 68, 68);
}

.work-2,
.work-3,
.work-4,
.work-5{
    border: 5px solid;
    width: 200px;
    height: 100px;
    color: rgb(156, 68, 68);
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover,
.work-5:hover{
    color: #3a1608;
}

.header1 {
    font-size: 15px;
}

.subheader2 {
    font-size: 8px;
}

.contact {
    display: flex;
    font-size: 15px;

}

.contact-C {
    margin: 40px;
    display: inline;
    text-decoration: underline;
}

.contact-C a {
    color: #5f2812;

}
.contact-header {
    font-family: 'Courier New', Courier, monospace;
}

/* @media screen and (max-with:700px) {
    .work {
        width: 100%;
    }
    body {
        background-color: #a4a1a1;
    }
} */


@media screen and (min-with:792px) {
    .work-figures {    
        flex-direction: row;
    }
}

